<h1>All Releases</h1>
<ul>
  <% releases.forEach((release) => { %>
    <li><a href="/releases/<%= release._id %>"><%= release.title %></a></li>
  <% }) %>
</ul>
<a href="/releases/new">Add New Release</a>


