<%- include("../partials/header.ejs") %>

<form action="/releases" method="POST">

    <label for="">TITLE</label>
    <input type="text" name="title">
    <label for=""># STREAMS</label>
    <input type="number" name="numStreams">
    <label for="">AGE DEMO</label>
    <input type="text" name="targetAge">
    <label for="">RELEASE DATE</label>
    <input type="date" name="releaseDate">
    <button type="submit">✚ ADD RELEASE</button>

</form>

<%- include("../partials/footer.ejs") %>