<%- include("../partials/header.ejs") %>

<h1>Delete Release</h1>

<p>Are you sure you want to delete the release "<%= release.title %>"?</p>

<form action="/releases/<%= release._id %>?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-delete">Yes, Delete</button>
</form>

<a href="/releases" class="btn btn-back">Cancel</a>

<%- include("../partials/footer.ejs") %>
